@use '../__index' as *

.thumbnail_container
  @include thumbnail-md

  img
    width: 100%
    height: 100%
    object-fit: cover
    border-radius: $b-radius-dec-2

.title
  width: 100%
  color: $color-black

.category
  color: $color-black
