@use '../__index' as *

.main_trailer
  width: 360px
  display: flex
  flex-direction: column
  
  iframe
      @include video-sm
      border: none
      border-radius: $b-radius-dec-1
      margin-bottom: 1em
      box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px

  .trailer_details
    display: flex
    flex-direction: column

    .title
      margin-bottom: .2em

    .description
      font-size: 1rem
      margin-bottom: .5em

    .categories p
      display: inline
      margin-right: 15px

@media (min-width: 772px)
  .main_trailer
    width: 720px

    iframe
        @include video-md
    
    .trailer_details
      .description
        font-size: 1.5rem

@media (min-width: 1200px)
  .main_trailer
    width: 100%
    flex-direction: row
    column-gap: 2em
    align-items: center

    iframe
        @include video-lg
    
    .trailer_details
      width: calc(100% - 2em - 720px)

@media (min-width: 1300px)
  .main_trailer
    justify-content: space-evenly
    
    .trailer_details
      width: calc(95% - 2em - 720px)

@media (min-width: 1500px)
  .main_trailer
    .trailer_details
      width: calc(85% - 2em - 720px)

