$color-primary: #AE2717
$color-white: #f8f8ff
$color-black: #101212
$color-gray: #dcdcdc

$padding-dec-1: .6em
$d-padding-dec-1: 1.2em
$padding-dec-2: .5em
$padding-dec-3: .4em
$padding-dec-4: .3em
$padding-dec-5: .2em
$padding-dec-6: .1em
$padding-int-3: 4em
$d-padding-int-3: 8em

$b-radius-dec-1: .6em
$b-radius-dec-2: .5em
